<template>
    <div>
    <q-card class="card-day" flat bordered>
        <q-card-section horizontal>
            <q-card-section class="q-pt-xs">
                <div class="col centerText">
                <div class="text-weight-bold">20</div>
                <div class="text-h5 text-weight-bold">MAR</div>
                    <div class="text-caption text-grey">
                        <q-badge rounded color="orange" label="Hoje" />
                    </div>
                </div>
            </q-card-section>

            <q-card-section class="col-5 flex flex-center imgDay">
                <q-img
                    class="rounded-borders imgDay"
                    src="https://cdn.quasar.dev/img/parallax2.jpg"
                />
            </q-card-section>
        </q-card-section>
    </q-card>
    </div>
</template>
<script>
import {
  QBadge
} from 'quasar'
export default {
  name: 'DatePosts',
  components: { QBadge },
  data () {
    return {
    }
  }
}
</script>
<style scoped>
.imgDay {
    width: 150px;
}
</style>