<template>
    <div>
    <q-card class="cardStories">
        <img src="https://ositeweb.com.br/business/wp-content/uploads/2018/08/dimens%C3%B5es-stories-instagram-e1533911023543.png">

        <q-card-actions align="right">
            <q-btn flat round color="red" icon="favorite" />
            <q-btn flat round color="teal" icon="bookmark" />
            <q-btn flat round color="primary" icon="share" />
        </q-card-actions>
    </q-card>
    </div>
</template>
<script>
export default {
  name: 'Features',
  components: {},
  data () {
    return {
    }
  }
}
</script>

<style scoped>
.cardStories {
    width: 200px;
}
</style>