<template>
    <div>
        <q-card dark bordered class="bg-blue-9 cardBannerDay">
            <q-card-section>
                <div class="text-h6">Imagem de boas vindas</div>
                <div class="text-subtitle2">by John Doe</div>
            </q-card-section>

            <q-separator dark inset />

            <q-card-section>
            </q-card-section>
        </q-card> 
    </div>
</template>
<script>
export default {
  name: 'MainBanner',
  components: {},
  data () {
    return {
    }
  }
}
</script>
<style scoped>

</style>
