<template>
    <div>
        <q-card class="card-tips">
            <img src="https://cdn.quasar.dev/img/mountains.jpg">

            <q-card-actions align="right" class="center">
                <q-btn flat round class="sizeButtons"  color="red" icon="favorite" />
                <q-btn flat round class="sizeButtons"  color="teal" icon="bookmark" />
                <q-btn flat round class="sizeButtons"  color="primary" icon="share" />
            </q-card-actions>
        </q-card>
    </div>
</template>
<script>
export default {
  name: 'Suggestions',
  components: {},
  data () {
    return {
    }
  }
}
</script>
<style scoped>
.center {
    justify-content: center;
}
.sizeButtons {
    max-width: 25%;
}
.cardBannerDay {
    border-radius: 20px;
}
.centerText {
    text-align: center;
}
.card-day {
    max-width: 250px;
}

.card-tips {
    min-width: 150px;
}
</style>