<template>
<div class="q-ma-sm">
    <div class="bannerday q-ma-lg">
        <MainBanner />
    </div>

    <div class="q-ma-sm">
        <span class="text-4 text-weight-bold"> Programe-se </span>
        <div class="postsday wrapper center">
            <div class="item" v-for="item in items" :key="item.message">
                <DatePosts />
            </div>
        </div>
    </div>

    <div class="q-ma-sm">
        <span class="text-4 text-weight-bold"> Sugestão do dia </span>
        <div class="postsday wrapper center">
            <div class="item tips" v-for="item in items" :key="item.message">
                <Suggestions />
            </div>
        </div>

    </div>

    <div class="postsday q-ma-sm">
        <span class="text-4 text-weight-bold"> Destaques </span>
        <div class="wrapper center">
            <div class="item" v-for="item in items" :key="item.message">
                <Features />
            </div>

        </div>
    </div>

    <div class="bannerday q-ma-md">
        <MainBanner />
    </div>
</div>
</template>
<script>
import MainBanner from "./components/Main-Banner"
import DatePosts from "./components/Date-Posts" 
import Suggestions from "./components/Suggestions" 
import Features from "./components/Features" 

export default {
  name: 'MainLayout',
  components: { DatePosts, MainBanner, Suggestions, Features },
  data () {
    return {
        items: [
        { message: 'Algo' },
        { message: 'Outro' },
        { message: 'Outro' },
        { message: 'Outro' },
        { message: 'Outro' }
        ]
    }
  }
}
</script>

<style scoped>
.cardBannerDay {
    border-radius: 20px;
}
.centerText {
    text-align: center;
}
.card-day {
    max-width: 250px;
}

.card-tips {
    min-width: 150px;
}
.center {
    justify-content: center;
}
.sizeButtons {
    max-width: 25%;
}
.wrapper {
    overflow-x: auto;
    display: flex;
}
.wrapper::-webkit-scrollbar {
    widows: 0;
}
.wrapper .item {
    /* min-width: 110px; */
    /* line-height: 110px; */
    margin-right: 10px;

}
@media only screen and (max-width: 1080px) {
.center {
    justify-content: left;
}
}
</style>