<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated>
      <q-toolbar class="row toolbox">
          <div class="col-md-2">
          <!-- <q-btn
              flat
              dense
              round
              icon="menu"
              aria-label="Menu"
              @click="leftDrawerOpen = !leftDrawerOpen"
            /> -->
          </div>
          <div class="col-sm-6 logo">
            <q-toolbar-title>
              Meu Post
            </q-toolbar-title>
          </div>
          <div class="col-md-4 features">
  
          </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer elevated >
    <q-dialog class="playerDialog1" seamless position="bottom">

    </q-dialog>
      <q-toolbar>
        <q-toolbar-title>
          <q-tabs
            v-model="tab"
            dense
            align="justify"
          >
            <q-tab class="text-white" name="epsode" icon="home" no-caps label="Inicio" />
            <q-tab class="text-white" name="apps" icon="search" label="Pesquisa" />
            <q-tab class="text-white" name="about" icon="fas fa-question-circle" label="Ideias"/>
            <q-tab class="text-white" name="about" icon="fas fa-user" label="Perfil"/>
          </q-tabs>
        </q-toolbar-title>
      </q-toolbar>
    </q-footer> 
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
export default {
  name: 'MainLayout',
  components: {},
  data () {
    return {
      leftDrawerOpen: false,
      tab: 'inicio'
    }
  }
}
</script>
<style scoped>

@media only screen and (max-width: 600px) {
.toolbox {
align-items: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.logo {
width: 40%;
}
.features {

}
}
</style>